/*=test.css*/

html {
	font-size: 65%;
}

@media all and (min-width: 100px) {
	html {
		font-size: 80%;
	}
}

@media all and (min-width: 1100px) {
	html {
		font-size: 90%;
	}
}

@media print {
	html { 
		display:none;
	}
}

@media all and (min-width: 100px) {
	html {
		font-size: 100%;
	}
}

@media all and (min-width: 1540px) {
	html {
		font-size: 130%;
	}
}

@media all and (min-width: 1980px) {
	html {
		font-size: 150%;
	}
}